@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
  
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor1:#042940;
    --cor2:#005C53;
    --cor3:#9FC131;
    --cor4:#DBF227;
    --cor5:#D6D58E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue',sans-serif;
    --fonte-android: 'Android';
}

* {
    margin: 0px;
    padding: 0px;
    /* O * é a regra global, que altera todos os elementos de uma unica vez, nesse exemplo tiramos todo as margens e padding dos blocos no site */
}
body {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F448';
}

header {
    background-image: linear-gradient(var(--cor1), var(--cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}

header > p {
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}

nav {
    background-color:var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.63);
    text-decoration: none;
}

nav a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
   
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 5px;
    transition-duration: 0.5s;
    
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor1);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color:var(--cor2) ;
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor1);
    font-weight: bold;
}

main a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor3,);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor1);
    background-color: var(--cor5);
    border-radius: 5px;
    transition-duration: 1s;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor1);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*NÃO É COMPATÍVEL COM TODO TIPO DE NAVEGADOR ^^ */
    list-style-position: inside;
    columns: 2;
} 
aside > h3 {
    background-color: var(--cor4);
    text-indent: 10px;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
}

footer {
    background-color:var(--cor1);
    color: var(--cor5);
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}